{% extends "base.html" %}
{% block title %}
    Dashboard Page
{% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
<div class="my-8">
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" href="/post">Create post</a>
</div>
{% for post in posts %}
<div class="w-full p-4">
    <div class="p-8 rounded-xl shadow-md bg-white">
        <div class="flex items-center justify-between"><span class="px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500">{{post.user.username}}</span><span
            class="font-light text-gray-600">{{ post.pub_date.strftime('%Y-%m-%d') }}</span>
    </div>
        <div class="flex flex-wrap items-center">
            <p class="mx-2  text-2xl font-bold"> {{post.title}}</p>
        </div>
        <p class="px-20 text-base">{{post.body[0:300]|safe }}</p>
        <div class="flex justify-end mt-6">
            <button type="submit" class=""><a class="mr-4 bg-red-500 tracking-wide text-white font-bold rounded-md hover:bg-red-700 hover:text-white shadow-md py-2 px-6 inline-flex items-center" href="/updatepost/{{post.id}}" >Update</a></button>
            <form action="{{url_for('delete', id = post.id)}}" method="post">
                <button type="submit" class=" bg-gray-500 tracking-wide text-white font-bold rounded-md hover:bg-gray-900 hover:text-white shadow-md py-2 px-6 inline-flex items-center">Delete</button>
            </form>     
        </div>      
    </div>
</div>
{% endfor %}
{% else %}
{% endif %} 
{% endblock %}

			

 