{% extends "base.html" %}
{% block body %}

	<section class="banner-area">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12 banner-right">
					<h1 class="text-white">
						Contacts
					</h1>
					<p class="mx-auto text-white  mt-20 mb-40">
						In the history of modern astronomy, there is probably no one greater leap forward than the building.
					</p>
					<div class="link-nav">
						<span class="box">
							<a href="index.html">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="contacts.html">Contacts</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ================ End banner Area ================= -->

	<!-- ================ Start contact-page Area  ================= -->
	<section class="contact-page-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<form class="form-area contact-form text-right" id="postFrom"  action = "/edit/{{post.sno}}" method="post">
						<div class="row">
							<div class="col-lg-6 form-group">
								<input id="title" name='title' placeholder="Title" value="{{post.title}}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter title '"
								 class="common-input mb-20 form-control" required="" type="text">

								<input placeholder="author" value="{{post.author}}" id="author" name="author" 
								 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Author'" class="common-input mb-20 form-control"
								 required="" type="text">

								<input value="{{post.slug}}" placeholder="slug" name="slug" id="slug"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Slug'"
								 class="common-input mb-20 form-control" required="" type="text">

                                 <input value="{{post.img_file}}"  placeholder="img_file" name = "img_file" id="img_file"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter phone no'"
								 class="common-input mb-20 form-control">
                                
							</div>
							<div class="col-lg-6 form-group">
								<textarea class="common-textarea form-control" id="content" name="content" placeholder="Enter content" onfocus="this.placeholder = ''"
								 onblur="this.placeholder = 'Enter Messege'" required="">{{post.content}}</textarea>
							</div>
							<div class="col-lg-12">
								<div class="alert-msg" style="text-align: left;"></div>
								<button class="btn" id="sendmessagebutton" style="float: right;">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- ================ End contact-page Area ================= -->

	<!-- ================ start footer Area ================= -->
{% endblock %}