{% extends "base.html" %}
{% block title %}
    Login Page
{% endblock %}
{% block body %}
<body class="text-black">
    <div class="px-4">
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <h1 class="h3 mt-16 font-semibold">
                Please Login...
            </h1>
            <br>
            {{ form.username(class="form-control border-2", placeholder="User Name") }}
            <br>
            {{ form.password(class="form-control border-2", placeholder="Password") }}
            <br>
            {{ form.submit(class="bg-black rounded-full font-bold text-white px-4 py-1 transition duration-300 ease-in-out hover:bg-gray-600") }}
          <div class="checkbox mb-4 mt-2 ">
            <h6 class="">Do not have an account?</h6>
            <a class="text-xl font-bold text-green-600 underline " href="{{ url_for('register_page') }}">Register</a>
         </div>
        </form>
    </div>
</body>
{% endblock %}

		